<div class="modal fade bd-example-modal-xl" tabindex="-1" id="modalCharte" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dna" role="document" style="width:100%">
        <div class="modal-content text-center justify-content-center">
            <div class="modal-header d-flex">
                <h5 class="modal-title title text-dark" id="exampleModalCenterTitle">Daedalus Escape Game est signataire de la charte JOUONS EN CONFIANCE. 
                Pour le respect et la sécurité de tou·te·s nous appliquons les mesures ci-dessous.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <img src="images/charte.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>