<div id="footer">
    <div class="d-flex mt-4 mr-5">
        <a href="{{path('mentions')}}">Mentions légales &nbsp; - </a>
        <p class="text-white">&nbsp; Site web réalisé par <a href="https://www.tristanmarest.com" target="blank">Master web &copy;</a></p>
    </div>
    <a href="https://www.facebook.com/Daedalusescape" target="blank" class="mt-2"><i class="fab fa-facebook-square fa-3x"></i></a>
    <a href="https://instagram.com/daedalusescapegame?utm_medium=copy_link" target="blank" class="mt-2 ml-4"><i class="fab fa-instagram fa-3x"></i></a>
</div>