{% extends 'base.html.twig' %}
{% block title %}Daedalus - Actualités{% endblock %}
{% block body %}
    <div class="container" id="pageActu">
        <h1>Nos Actualités</h1>
        <div class="allActu mt-5">
            {% for a in actu %}
                <div class="actus">
                    <p class="titreActu">{{a.title}}</p>
                    <img class="actuImg" src="/actu/{{a.image}}" alt="">
                    <div>
                        <a href="{{path('actu', {id:a.id})}}" class="btn btnAction">En savoir plus</a>
                    </div>
                    <hr class="hrActu">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}