{% extends 'base.html.twig' %}

{% block title %}Daedalus - Entreprise{% endblock %}

{% block body %}
<div id="ent">
    <h1>Entreprise</h1>
    <div class="container" id="entContainer">
        <p class="entTitle">La clef du succès</p>
        <p class="entP">
            Entreprises, profitez de notre offre « Un séjour à Daedalus ».
            À l’occasion d’une session de travail, réunion ou séminaire, découvrez notre salon confort et notre espace de travail.
        </p>
        <p class="entTitle">Pour votre séjour</p>
        <p class="entP">
            Nous vous accueillons dans les meilleures conditions :
            Petit-déjeuner, canapés, fauteuils, wifi, Écran haute définition 40″…
        </p>
        <p class="entTitle">Plongez dans notre univers atypique</p>
        <p class="entP">
            Installez-vous confortablement au coeur d’une atmosphère Steampunk !
        </p>
        <p class="entTitle">Session de travail puis… session d’Escape Game !</p>
        <p class="entP">
            Après l’effort, le réconfort ! Vous et vos collaborateurs pourrez tenter de relever le défi de nos salles de jeu d’évasion grandeur nature.
        </p>
    </div>
</div>
{% endblock %}
