{% extends 'base.html.twig' %}

{% block title %}Daedalus - Mentions légales{% endblock %}

{% block body %}
<div id="mentions">
    <h1 class="mentionsTitle">Mentions légales</h1>
    <div class="container">
        <p>
            EBEO Développement – SAS, RCS Blois 831871595 – Siège social : 16 rue de la Vallée Maillard – 41000 BLOIS <br>
            Le responsable de la publication et de la rédaction du site est Mr Eric Benoist. <br>

            Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à Ebéo Développement.

            Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.

            Le site et ses contenus sont la propriété de Ebéo Développement. Toute reproduction ou utilisation sans accord préalable avec Ebéo Développement sont interdites. Tous droits de reproduction sont réservés, y compris pour les documents iconographiques et photographiques. <br> <br>

 

            Hébergement : <br> <br>

            Le site www.verticalc.fr est hébergé par la société OVH  SAS au capital de 10 000 000 € <br>
            RCS Roubaix – Tourcoing 424 761 419 00045 Code APE 6202A – N° TVA : FR 22 424 761 419 <br>
            Siège social : 2 rue Kellermann 59100 Roubaix – France. <br> <br>

            Conception : <br>
            Master Web <br>
            26 rue de la liberté – 41110 Pouillé <br>
            <a href="https://www.tristanmarest.com" target="blank">wwww.tristanmarest.com</a> <br>
            Tél. : 06 63 55 23 85 <br> <br>
             <br>
            A QUOI SERVENT NOS COOKIES ? <br> <br>
            Cookies strictement nécessaires à l’utilisation du service demandé. <br>
            Ils permettent l’utilisation des principales fonctionnalités du site, comme le cas échéant l’accès à votre compte personnel, ou encore de mémoriser les préférences d’affichage de votre terminal (langue, paramètres d’affichage) et d’en tenir compte lors de vos visites, selon la charte graphique et les logiciels de visualisation ou de lecture de votre terminal. Ils peuvent inclure des cookies de réseaux sociaux lorsque vous interagissez avec ces derniers. Ils nous permettent aussi de lier entre elles les différentes pages consultées pour vous assurer une navigation fluide.  <br> <br>

            Pour paramétrer : <br>

            Vous pouvez désactiver complètement les cookies dans votre navigateur. Dans ce cas notre site ne fonctionnera plus normalement mais vous pourrez quand même effectuer des actions basiques.

            1/ si vous utilisez le navigateur Internet Explorer <br> <br>

            – Dans Internet Explorer, cliquez sur le bouton « Outils », puis sur « Options Internet » <br>
            – Sous l’onglet Confidentialité déplacez le curseur vers le haut pour bloquer tous les cookies ou vers le bas pour autoriser tous les cookies, puis cliquez sur OK. <br> <br>


            2/ si vous utilisez le navigateur Firefox <br> <br>

            – Allez dans le menu « Outils » du navigateur puis sélectionnez le menu « Options » <br>
            – Cliquez sur l’onglet « vie privée », décochez la case « Accepter les cookies » puis cliquez sur OK. <br> <br>


            3/ si vous utilisez le navigateur Safari <br> <br>

            – Dans votre navigateur, choisissez le menu « Édition » puis sélectionnez « Préférences ». <br>
            – Cliquez sur « Confidentialité ». <br>
            – Positionnez le réglage « Bloquer les cookies » sur « Toujours » puis cliquez sur OK. <br> <br>


            4/ si vous utilisez le navigateur Google Chrome <br> <br>

            – Cliquez sur le menu Chrome dans la barre d’outils du navigateur. <br>
            – Sélectionnez « Paramètres ». <br>
            – Cliquez sur « Afficher les paramètres avancés ». <br>
            – Dans la section « Confidentialité », cliquez sur le bouton « Paramètres de contenu ». <br>
            – Dans la section « Cookies », sélectionnez « Interdire à tous les sites de stocker des données » et cochez la case « Bloquer les cookies et les données de site tiers », puis cliquez sur OK. <br> <br>


            Cookies de mesure d’audience et de statistiques. <br>
            Ils nous permettent de faire vivre le site et d’établir des statistiques et comptages de fréquentation et d’utilisation de ses rubriques et contenus, pour réaliser des études afin d’améliorer le contenu (mesure du nombre de visites, de pages vues ou encore de l’activité des visiteurs sur le site et de leur fréquence de retour). Ils nous permettent également d’analyser la navigation des internautes afin d’améliorer notre service ou de détecter des dysfonctionnements. <br> <br>

            Vous pouvez vous opposer à tous les cookies tiers depuis votre navigateur : <br>
            1/ si vous utilisez le navigateur Internet Explorer <br> <br>

            Dans Internet Explorer, cliquez sur le bouton « Outils », puis sur « Options Internet ». <br>
            Sous l’onglet Confidentialité, sous Cookies, activez l’option Bloquer tous les cookies tiers, puis cliquez sur OK. <br> <br>


            2/ si vous utilisez le navigateur Firefox <br> <br>

            – Allez dans le menu « Outils » du navigateur puis sélectionnez « Options » <br>
            – Cliquez sur l’onglet « vie privée », passez le paramètre « Accepter les cookies tiers » à « jamais », puis cliquez sur OK. <br> <br>


            3/ si vous utilisez le navigateur Safari <br> <br>

            – Dans votre navigateur, choisissez le menu « Édition » puis sélectionnez « Préférences ». <br>
            – Cliquez sur « Confidentialité ». <br>
            – Positionnez le réglage « Bloquer les cookies sur « Des tierces parties et des annonceurs » puis cliquez sur OK. <br> <br>


            4/ si vous utilisez le navigateur Google Chrome <br> <br>

            – Cliquez sur le menu Chrome dans la barre d’outils du navigateur. <br>
            – Sélectionnez « Paramètres ». <br>
            – Cliquez sur « Afficher les paramètres avancés ». <br>
            – Dans la section « Confidentialité », cliquez sur le bouton « Paramètres de contenu ». <br>
            – Dans la section « Cookies », cochez la case « Bloquer les cookies et les données de site tiers », puis cliquez sur OK. <br> <br>


            La CNIL propose par ailleurs sur son site à l’adresse http://www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes un large panel d’outils permettant de limiter la traçabilité de votre navigation sur Internet : extensions pour votre navigateur permettant de bloquer les traceurs, les boutons de partage sur les réseaux sociaux, le chargement de ressources en provenance d’autres sites…

            https://www.facebook.com/Daedalusescape/
        </p>
    </div>
</div>
{% endblock %}
