{% extends 'baseHidden.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="choiseBlock">
        <div class="audio">
            <img src="{{asset('images/daedalus_fond-1024x724.jpg')}}" alt="" class="imgAudio">
            <audio controls class="lecteur"><source src="{{asset('audio/Version 0-4 survivants.mp3')}}" type="audio/mp3"></audio>
        </div>
    </div>
</div>
{% endblock %}
