{% extends 'baseAdmin.html.twig' %}

{% block title %}Gestion escapes en ville{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion du message des escapes en ville</h1>
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.content) }}
                <button type="submit" class="btn btnAdmin btn-block">Enregistrer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    
tinymce.init({
    selector: '#infocity_content',
    height: 400,
    toolbar_mode: 'floating',
    language: 'fr_FR',
    toolbar: 'forecolor backcolor undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent'

});
    </script>
{% endblock %}
