{% extends 'base.html.twig' %}

{% block title %}Hello SecurityAdminController!{% endblock %}

{% block body %}
<div class="container">
    <div id="adminLog">
        <div class="card cardLog">
            <div class="card-header">
                <p>Connexion administrateur</p>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div id="formLog">
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" placeholder="Identifiant" name="_username"
                                value="{{identifiant}}">
                        </div <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mot de passe" name="_password">
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-block btnLog">Connexion</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
